.payment-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px;
  }
  
  .payment-modal-popup {
    position: relative;
    background-color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
    max-height: max-content;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  
  .final-pay {
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #007bff;
    color: white;
    margin-top: 20px;
    margin-left: 30px;
    margin-right: 70px;
  }
  
  .final-pay:hover {
    color: #000;
  }
  